@{
    ViewData["Title"] = "Get To Know Joel";
}

<ul>
    <li><a href="https://www.qwcomedy.com/" target="_blank">https://www.qwcomedy.com/</a></li>
    <li><a href="https://baconsale.com/" target="_blank">https://baconsale.com/</a></li>
</ul>

<a href="https://baconsale.com/" target="_blank"> // Makes the image clickable
    <img alt="Joel Hilton with others at a BaconSale event" src="~/img/BaconsaleKate.jpg"/>
</a>
