@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

// Are you even going to read this page? If you do, I hope you think it's funny...
<p>Unfortunately this site doesn't have any Privacy Policy to detail here. To my knowledge, the images obtained on Joel Hilton were obtained without his foreknowledge. Complaints should be redirected to Spencer Hilton.</p>